/* Google font import */

/* @import url(//fonts.googleapis.com/css?family=IM+Fell+English&family=IBM+Plex+Mono); */

body {
margin: auto;
max-width: 70ch;
line-height: 1.4;
font-size: 1.25em;
padding: 3em  1em;
background-color: #fcfbeb;
color: #181816;
/* color: #615f43; */
font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
font-variant-numeric: lining-nums;
}
pre,code {
    /*    font-size: 1em;*/
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 0.87em;
}

h1,h2,h3,h4,h5,h6 {
    /*	font-family: "Century Gothic", "Arial", sans-serif; */
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}
h3 {
clear: both;
font-size: 1.3em
}
h2.date {
clear: both;
font-size: 1em;
text-align: right;
font-style: italic;
margin-right: 10%;

}
h2.date a {
text-decoration: none;
color: black;
}
h2.date a:hover {
text-decoration: underline;
}
h4 a {
    text-decoration: none;
}
h4 a:hover {
text-decoration: underline;
}
    
article {
margin-top: 10px;
margin-right: 10%;
border-style: none none dotted none ;
}
p.permalink {
text-align: right;
}

p.header a {
text-decoration: none;
}
p.header a:hover {
text-decoration: underline;
}
p.permalink a {
text-decoration: none;
}
p.permalink a:hover {
text-decoration: underline;
}

p.twitter-permalink {
text-align: right;
}

p.tagline {
    font-style: italic;
    font-size: 0.8em;
}

table {
	table-layout: fixed;
}
th, td {
    padding: 5px;
    font-feature-settings: "tnum";
}

td a {
    text-decoration: none;
}
td a:hover {
text-decoration: underline;
}

thead th {
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    position: sticky;
    top: 0;
}


blockquote {
  background: #eee8d5;
  border-left: 10px solid #93a1a1;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019"; 
}
blockquote:before {
  color: #93a1a1;
/*  content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* permalink anchor styling */
/* 
article {
    padding-top: 25px;
}

:target {
    background-color: #eef1fe;
}

*/
